<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">

    <div class="six columns">
      <h5> My Courses </h5>
      <li> Open source development </li>
      <p>My Courses is the latest block to be created by myself alongside LearningWorks for our clients. We have recently opened it up so everyone has the chance to explore this block that is incredibly beneficial to all users of the Moodle sites it is installed upon.</p>
      <a class="project-link" href="https://moodle.org/plugins/block_lw_courses">Check it out</a>
    </div>

    <div class="six columns">
       <img alt="My Courses" src="{{ "/assets/img/mycourses.png" | prepend: site.baseurl }}" />
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="enrolment timer" src="{{ "/assets/img/enrolmenttimer.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Enrolment Timer </h5>
      <li> Open source development </li>
      <p>The enrolment timer plugin is a legacy plugin that we still continue to support with active development and bug fixes. It gives student a quick indication of how long till their enrolments expire and can email them a warning message.</p>
      <a class="project-link" href="https://moodle.org/plugins/block_enrolmenttimer">Check it out</a>
    </div>
  </div>
    <div class="user-posts">
        <h3> Latest Blog posts </h3>
    </div>
    <ul class="posts">
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
